@import './App.scss';

.attractions {
    @include gradientBackgroundAttractions("../images/attractionsBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    @include mobileLandscape {
        @include gradientBackgroundAttractions("../images/attractionsBackgroundLandscape.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__banner {
        margin-top: 3.522vh;
        margin-bottom: 6.55633vh;
        @include sectionBanner(34.863vh, 8.935vh, .388vh, 4.1761vh, 5.6321vh, atrakcje, no);

        @include mobileLandscape {
            @include sectionBanner(23.438vw, 5.99vw, .261vw, 2.7982vw, 3.7741vw, atrakcje, no);
            margin-top: 4.2969vw;
            margin-bottom: 6.25vw;
        }
    }
}

/* ====================================================WEBP IMG SUPPORT =========================================================*/
.webp .attractions {
    @include gradientBackgroundAttractions("../images/attractionsBackground.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    @include mobileLandscape {
        @include gradientBackgroundAttractions("../images/attractionsBackgroundLandscape.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* =========================================================================================================================*/

.attractionsList {
    @include flex-center-horiz();
    flex-direction: row;
    flex-wrap: wrap;
    /*     display: grid; - poco
    place-items: center;  - poco*/
    gap: 3.5212vh;
    margin-bottom: 18.6883vh;
    color: white;

    @include mobileLandscape {
        /*         @include flex-center-horiz() - jesli dodam opcje dla poco;
        flex-direction: row - jesli dodam opcje dla poco;
        flex-wrap: wrap;  - jesli dodam opcje dla poco*/
        gap: 6.3965vw 2.7344vw;
        margin-bottom: 10.6283vw;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 51.057vh;
        height: auto;

        @include mobileLandscape {
            width: 19.917vw;
        }
    }

    &__attraction {
        @include flex-center-vert();
        flex-direction: row;
    }

    &__attractionIcon {
        margin-right: 1.05634vh;
        width: 7.923vh;
        height: 7.923vh;

        @include mobileLandscape {
            margin-right: .412103vw;
            width: 3.091vw;
            height: 3.091vw;
        }
    }

    &__attractionName {
        font-family: $fontGentium;
        font-weight: 300;
        font-size: 4.2254vh;
        line-height: 4.8891vh;

        @include mobileLandscape {
            font-size: 1.6485vw;
            line-height: 1.9076vw;
        }
    }

    &__attractionDescription {
        font-family: $fontMontserrat;
        font-weight: 300;
        font-size: 2.28878vh;
        margin-top: .8803vh;
        line-height: 4vh;

        @include mobileLandscape {
            font-size: .8926vw;
            line-height: 1.7vw;
            margin-top: .3431vw;
        }
    }
}