@import './App.scss';

.footerBanner {
    position: relative;
    width: 100%;
    @include gradientBackgroundFooterBanner("../images/footerBannerBackground.webp");
    background-size: cover;
    height: 36.62vh;
    margin-top: -.3vh;

    @include mobileLandscape {
        @include gradientBackgroundFooterBanner("../images/footerBannerBackgroundLandscape.webp");
        background-size: cover;
        height: 24.4141vw;
    }

    &__sectionTitle {
        @include sectionBanner(39.844vh, 12.464vh, .41vh, 6.671vh, 9vh, Travel, yes);

        @include mobileLandscape {
            @include sectionBanner(25.326vw, 7.943vw, .261vw, 4.2383vw, 5.7175vw, Travel, yes);
        }


    }
}

/* ====================================================PNG IMG SUPPORT =========================================================*/
.no-webp .footerBanner {
    position: relative;
    width: 100%;
    @include gradientBackgroundFooterBanner("../images/footerBannerBackground.png");
    background-size: cover;
    height: 36.62vh;

    @include mobileLandscape {
        @include gradientBackgroundFooterBanner("../images/footerBannerBackgroundLandscape.png");
        background-size: cover;
        height: 24.4141vw;
    }
}

/* =========================================================================================================================*/