@import './App.scss';

.footerBanner {
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 41.98%, #DFCDB6 91.98%), linear-gradient(180deg, #071E19 5.52%, rgba(0, 0, 0, 0) 35.73%), url("../images/footerBannerBackground.png");
    background-size: cover;
    height: 36.62vh;

    @include mobileLandscape {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 41.98%, #DFCDB6 91.98%), linear-gradient(180deg, #071E19 5.52%, rgba(0, 0, 0, 0) 35.73%), url("../images/footerBannerBackgroundLandscape.png");
        background-size: cover;
        height: 24.4141vw;
    }

    &__sectionTitle {
        @include sectionBanner(39.844vh, 12.464vh, .41vh, 6.671vh, 9vh, Travel, yes);

        @include mobileLandscape {
            @include sectionBanner(25.326vw, 7.943vw, .261vw, 4.2383vw, 5.7175vw, Travel, yes);
        }


    }
}

/* ====================================================WEBP IMG SUPPORT =========================================================*/
.webp .footerBanner {
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 41.98%, #DFCDB6 91.98%), linear-gradient(180deg, #071E19 5.52%, rgba(0, 0, 0, 0) 35.73%), url("../images/footerBannerBackground.webp");
    background-size: cover;
    height: 36.62vh;

    @include mobileLandscape {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 41.98%, #DFCDB6 91.98%), linear-gradient(180deg, #071E19 5.52%, rgba(0, 0, 0, 0) 35.73%), url("../images/footerBannerBackgroundLandscape.webp");
        background-size: cover;
        height: 24.4141vw;
    }
}

/* =========================================================================================================================*/