@import './App.scss';


.header {
    height: 100vh;
    background: linear-gradient(180deg, #fffbfb00 0%, rgba(255, 255, 255, 0.0958335) 30%, #000000 100%);
    position: relative;
}


/* ================================
           VIDEO BACKGROUND
===================================*/

.gradient {
    //background: linear-gradient(180deg, #fffbfb00 0%, rgba(255, 255, 255, 0.0958335) 30%, #000000 100%);
    //background-blend-mode: overlay, normal;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;


    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/* ================================
        VIDEO BACKGROUND END
===================================*/

/* ================================
            NAVIGATION
===================================*/
//margin-top: calc(10.3rem + (((100vw - #{$bp-medium-laptopWidth/1em*1.6rem}) / (#{$bp-large-laptopWidth/1em * 1.6} - #{$bp-medium-laptopWidth/1em * 1.6}))) * (23 - 10.3)); // jak z remami zrobic i zmiennymi
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1.5rem;
    padding-bottom: 0;

    @include mobilePortrait {
        padding: calc(.8rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (1.92 - .8)) calc(1.5rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (3.6 - 1.5));
        padding-bottom: 0;
    }

    /*     @include mobileLandscape {
        padding: 3.9062vh 7.96vh;
    } */

    @include mobileLandscape {
        @include paddingLandscape(mobile, 1.386, 3.0, 2.535, 4.588);
        //padding: 4.056vh 9.5266vh;
        padding-bottom: 0;
    }

    @include desktopLandscape {
        @include paddingLandscape(desktop, 3.0, 2.93, 4.588, 6.882);
        //padding: 4.056vh 9.5266vh;
        padding-bottom: 0;
    }

    @include desktopMediumLandscape {
        @include paddingLandscape(desktopMedium, 2.93, 5.625, 6.882, 11.462);
        //padding: 4.056vh 9.5266vh;
        padding-bottom: 0;
    }

    /*     &__itemList {
        display: none;

        @include mobileLandscape {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    } */

    &__burgerMenu {
        width: 22px;
        height: 11.74px;

        @include mobilePortrait {
            width: calc(2.2rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (5.28 - 2.2));
            height: calc(1.174rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (2.818 - 1.174));
        }

        @include mobileLandscape {
            display: none;
        }
    }
}

.logo {
    text-transform: uppercase;
    font-family: $fontAbril;
    border: .1rem solid white;
    padding: .6rem 1.7rem;
    //padding: 14.4px 40.8px;

    @include mobilePortrait {
        padding: calc(.6rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (1.44 - .6)) calc(1.7rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (4.08 - 1.7));
        border-width: calc(.1rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (.24 - .1));
    }

    @include mobileLandscape {
        @include paddingLandscape(mobile, .449, .809, 1.198, 2.156);
        @include border-widthLandscape(mobile, .075, .135);
        /*         border-width: .28vh;
        padding: 1.6778vh 4.474vh; */
    }

    @include desktopLandscape {
        @include paddingLandscape(desktop, .809, 1.212, 2.156, 3.232);
        @include border-widthLandscape(desktop, .135, .202);
        /*         border-width: .28vh;
        padding: 1.6778vh 4.474vh; */
    }

    @include desktopMediumLandscape {
        @include paddingLandscape(desktopMedium, 1.212, 2.019, 3.232, 5.383);
        @include border-widthLandscape(desktopMedium, .202, .336);
        /*         border-width: .28vh;
        padding: 1.6778vh 4.474vh; */
    }

    /*     @include mobileLandscape {
        border-width: .232vh;
        padding: 1.402vh 3.973vh;
    } */

    &__companyName {
        display: flex;
        justify-content: center;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: center;
        color: #FFFFFF;

        @include mobilePortrait {
            font-size: calc(1.2rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (2.88 - 1.2));
            line-height: calc(1.6rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (3.885 - 1.6));
        }

        @include mobileLandscape {
            @include fontLineLandscape(mobile, .899, 1.617, 1.212, 2.182);
            /*             font-size: 3.3555vh;
            line-height: 4.5294vh; */
        }

        @include desktopLandscape {
            @include fontLineLandscape(desktop, 1.617, 2.424, 2.182, 3.27);
            /*             font-size: 3.3555vh;
            line-height: 4.5294vh; */
        }

        @include desktopMediumLandscape {
            @include fontLineLandscape(desktopMedium, 2.424, 4.037, 3.27, 5.446);
            /*             font-size: 3.3555vh;
            line-height: 4.5294vh; */
        }

        /*         @include mobileLandscape {
            font-size: 2.8vh;
            line-height: 3.8vh;
        } */
    }

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 29.55rem;

    @media (min-width: 200px) and (orientation: portrait) {
        display: none;
    }

    @include mobilePortrait {
        display: none;
    }

    @include mobileLandscape {
        @include widthLandscape(mobile, 29.55, 53.104);
        //width: 110.2vh;
        //width: 51.83vw;
    }

    @include desktopLandscape {
        @include widthLandscape(desktop, 53.104, 79.6);
        //width: 110.2vh;
        width: 51.83vw;
    }

    @include desktopMediumLandscape {
        @include widthLandscape (desktopMedium, 79.6, 132.563);
        //width: 110.2vh;
        //width: 51.83vw;
    }

    &__item {
        color: white;
        font-family: $fontGentium;
        font-weight: 400;
        font-style: normal;
        font-size: .899rem;
        line-height: 1.04rem;


        @include mobileLandscape {
            @include fontLineLandscape(mobile, .899, 1.617, 1.04, 1.872);
            /*             font-size: 3.3555vh;
            line-height: 3.883vh; */
            //font-size: 1.5781vw;
        }

        @include desktopLandscape {
            @include fontLineLandscape(desktop, 1.617, 2.424, 1.872, 2.805);
            /*             font-size: 3.3555vh;
            line-height: 3.883vh; */
            //font-size: 1.5781vw;
        }

        @include desktopMediumLandscape {
            @include fontLineLandscape(desktopMedium, 2.424, 4.037, 2.805, 4.672);
            /*             font-size: 3.3555vh;
            line-height: 3.883vh; */
            //font-size: 1.5781vw;
        }
    }
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //width: 18.288rem;

    @media (min-width: 200px) and (orientation: portrait) {
        display: none;
    }

    @include mobilePortrait {
        display: none;
    }

    @include mobileLandscape {
        @include widthLandscape(mobile, 6.779, 12.201);
    }

    @include desktopLandscape {
        @include widthLandscape(desktop, 12.201, 18.288);
    }

    @include desktopMediumLandscape {
        @include widthLandscape(desktopMedium, 18.288, 30.456);
    }

    &__icon {
        /*         width: 28.88px;
        height: 28.88px; */
        width: 1.07rem;
        height: 1.07rem;

        @include mobileLandscape {
            @include width-heightLandscape(mobile, 1.07, 1.927);
        }

        @include desktopLandscape {
            @include width-heightLandscape(desktop, 1.927, 2.888);
        }

        @include desktopMediumLandscape {
            @include width-heightLandscape(desktopMedium, 2.888, 4.81);
        }
    }
}

/* ================================
            NAVIGATION END
===================================*/

/* ================================
                HERO
===================================*/
.hero {
    //stary sposob
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* nowy    position: absolute;
    top: 297.1px; */
    width: 100%;
    z-index: 2;

    &__button {
        //stary   
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 103px;
        top: 18.14vh;
        /*         position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 592.87px; */
        background: #EBAC00;
        border: 2px solid #FFFCFC;
        color: white;
        padding: 13px 11px;
        text-transform: uppercase;
        font-family: $fontMontserrat;
        font-style: normal;
        white-space: nowrap;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        width: 146px;
        height: 38px;
        @include flex-center();

        @include mobilePortrait {
            border-width: calc(.2rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (.48 - .2));
            padding: calc(1.3rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (3.12 - 1.3)) calc(1.1rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (2.64 - 1.1));
            font-size: calc(1.1rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (2.64 - 1.1));
            //font-size: 1.932vh;
            line-height: calc(1.3rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (3.218 - 1.3));
            width: calc(14.6rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (35.04 - 14.6));
            height: calc(3.8rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (9.12 - 3.8));
        }

        @include mobileLandscape {
            //top 261.13px
            //border: 4.39px
            //padding 28.56px 24.17px
            //fs 24.17px
            //linh 29.46px
            //width 320.81px
            //height 83.5px
            /*             border-width: .305vh;
            padding: 1.983vh 1.678vh;
            font-size: 1.678vh;
            line-height: 2.046vh;
            width: 22.278vh;
            height: 5.8vh; */
            /*             @include border-widthLandscape(universal, 0.113, .439);
            @include paddingLandscape(universal, .733, 2.856, .62, 2.417);
            @include fontLineLandscape(.62, 2.417, .756, 2.946);
            @include widthLandscape(universal, 8.229, 32.081);
            @include heightLandscape(universal, 2.142, 8.35); */
            //z absolute
            position: absolute;
            @include topLandscape(mobile, 12.596, 30.287);
            top: 39.4vh;
            //125.96px , 302.87px, 295.87, 567.89

            //bez absolute
            //@include topLandscape(mobile, 5.803, 13.927);
            @include border-widthLandscape(mobile, 0.113, .271);
            @include paddingLandscape(mobile, .733, 1.759, .62, 1.488);
            @include fontLineLandscape(mobile, .62, 1.488, .756, 1.814);
            @include widthLandscape(mobile, 8.229, 19.749);
            @include heightLandscape(mobile, 2.142, 5.14);
        }

        @include desktopLandscape {
            //z absolute
            @include topLandscape(desktop, 30.287, 29.587);
            top: 39.4vh;
            //bez absolute
            //@include topLandscape(desktop, 13.927, 13.6);
            @include border-widthLandscape(desktop, .271, .264);
            @include paddingLandscape(desktop, 1.759, 1.715, 1.488, 1.451);
            @include fontLineLandscape(desktop, 1.488, 1.451, 1.814, 1.769);
            @include widthLandscape(desktop, 19.749, 19.263);
            @include heightLandscape(desktop, 5.14, 5.014);
        }

        @include desktopMediumLandscape {
            //z absolute
            @include topLandscape(desktopMedium, 29.587, 56.789);
            top: 39.4vh;
            //bez absolute
            //@include topLandscape(desktopMedium, 13.6, 26.113);
            @include border-widthLandscape(desktopMedium, .264, .439);
            @include paddingLandscape(desktopMedium, 1.715, 2.856, 1.451, 2.417);
            @include fontLineLandscape(desktopMedium, 1.451, 2.417, 1.769, 2.946);
            @include widthLandscape(desktopMedium, 19.263, 32.081);
            @include heightLandscape(desktopMedium, 5.014, 8.35);
        }

        &:hover {
            cursor: pointer;
        }

    }

    &__moveDown {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 180px;
        top: 31.69vh;
        left: 50%;
        width: 21px;
        height: 16px;
        transform: translateX(-50%);
        //top: 30vh;

        @include mobilePortrait {
            width: calc(2.1rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (5.04 - 2.1));
            height: calc(1.6rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (3.84 - 1.6));
            top: 29vh;
        }

        @include mobileLandscape {
            width: 3.205vh;
            height: 2.442vh;

            //z absolute
            //169.34, 406.98, 397.45, 763.1
            position: absolute;
            @include topLandscape(mobile, 16.934, 40.698);
            top: 52.99vh;
        }

        @include desktopLandscape {
            @include topLandscape(desktop, 40.698, 39.745);
            top: 52.99vh;
        }

        @include desktopMediumLandscape {
            @include topLandscape(desktopMedium, 39.745, 76.31);
            top: 52.99vh;
        }
    }

    &__triangle {
        position: absolute;
        width: 21px;
        height: 16px;

        @include mobilePortrait {
            width: calc(2.1rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (5.04 - 2.1));
            height: calc(1.6rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (3.84 - 1.6));
        }

        @include mobileLandscape {
            //h 35.16
            //w 46.14
            width: 3.205vh;
            height: 2.442vh;
            /*             @include widthLandscape(mobile, 1.184, 2.841);
            @include heightLandscape(mobile, .902, 2.164); */
        }

        /*         @include desktopLandscape {
            @include widthLandscape(desktop, 2.841, 2.771);
            @include heightLandscape(desktop, 2.164, 2.111);
        }

        @include desktopMediumLandscape {
            @include widthLandscape(desktopMedium, 2.771, 4.614);
            @include heightLandscape(desktopMedium, 2.111, 3.516);
        } */

        &--gold {
            animation: bounceAlpha 1.4s .2s infinite;
        }

        &--white {
            top: 5px;
            animation: bounceAlpha 1.4s infinite;

            @include mobilePortrait {
                top: calc(.5rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (1.32 - .5));
            }

            @include mobileLandscape {
                top: .89vh;
            }
        }
    }
}


/*===================== Main Title ========================================*/
.mainTitle {
    //wysrodkowanie main title nowy
    /*     position: absolute;
    top: 50%;
    transform: translateY(-50%); */

    width: 100%;
    height: 121px;
    background: rgba(0, 0, 0, 0.13);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobilePortrait {
        height: calc(12.1rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (29.04 - 12.1));
    }

    @include mobileLandscape {
        //height: 18.46vh;
        //height: 265.87px;
        //@include heightLandscape(universal, 6.817, 26.587) //@include heightLandscape2(mobile, 6.817, 16.361);
        @include heightLandscape(mobile, 6.82, 16.367);
        height: 22.1vh;
        //height: 10.394vw;
    }

    @include desktopLandscape {
        @include heightLandscape(desktop, 16.367, 15.965);
        height: 22.1vh;
        //height: 10.394vw;
    }

    @include desktopMediumLandscape {
        @include heightLandscape(desktopMedium, 15.965, 26.587);
        height: 22.1vh;
        //height: 10.394vw;
    }

    /*     @include desktopLandscape {
        @include heightLandscape2(desktop, 16.361, 26.587);
        height: 22vh;
    } */

    &__firstTitle {
        display: flex;
        flex-direction: row;
        position: relative;
        font-family: $fontMontserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */
        //text-align: center;
        padding-left: 15px;

        @include mobilePortrait {
            font-size: calc(3.6rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (8.64 - 3.6));
            line-height: calc(4.4rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (10.532 - 4.4));
            padding-left: calc(1.5rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (16.4 - 1.5));
        }

        @include mobileLandscape {
            //fs: 79.1px
            //lh: 96.45px
            //pl: 957.54px
            /*             font-size: 5.5vh;
            line-height: 6.7vh;
            padding-left: 66.5vh; */
            //font-size: calc(2.029rem + (((100vw - #{$bp-smaller-landscapeWidth/1em*1.6rem}) / (#{$bp-large-landscapeWidth/1em * 1.6} - #{$bp-smaller-landscapeWidth/1em * 1.6}))) * (7.91 - 2.029));
            //@include font-sizeLandscape(2.029, 7.91);
            //@include line-heightLandscape(2.473, 7.91);

            //@include fontLineLandscape(2.029, 7.91, 2.473, 9.643);
            //@include padding-leftLandscape(universal, 20.244, 95.754);

            @include fontLineLandscape(mobile, 2.029, 4.869, 2.473, 5.936);
            @include padding-leftLandscape(mobile, 20.244, 31.545);
            /*             font-size: 6.576vh;
            line-height: 8.015vh; */
            //padding-left: 79.6vh;
            //padding-left: 37.434vw;
            padding-left: 37.434vw;
            font-size: 3.1087vw;
            line-height: 3.705vw;
        }

        @include desktopLandscape {
            @include fontLineLandscape(desktop, 4.869, 4.75, 5.936, 5.79);
            @include padding-leftLandscape(desktop, 31.545, 107.498);
            font-size: 6.576vh;
            line-height: 8.015vh;
            //padding-left: 79.6vh;
            //padding-left: 37.434vw;
            /*             padding-left: 37.434vw;
            font-size: 3.1087vw;
            line-height: 3.705vw; */
        }

        @include desktopMediumLandscape {
            @include fontLineLandscape(desktopMedium, 4.75, 7.91, 5.79, 9.643);
            @include padding-leftLandscape(desktopMedium, 57.498, 95.754);
            font-size: 6.576vh;
            line-height: 8.015vh;
            //padding-left: 79.6vh;
            //padding-left: 37.434vw;
            /*             padding-left: 37.434vw;
            font-size: 3.1087vw;
            line-height: 3.705vw; */
        }

        /*         @include desktopLandscape {
            @include fontLineLandscape2(desktop, 4.869, 7.91, 5.936, 9.643);
        } */

        &::after {
            content: ' ';
            background-image: url('../svg/shipWheel.svg');
            background-size: 37px 37px;
            height: 37px;
            width: 37px;
            position: relative;
            /*             top: 100%;
            transform: translateY(-100%); */
            top: 100%;
            transform: translateY(-100%);
            margin-left: 6px;
            //-webkit-animation: spin 10s linear infinite;
            //-moz-animation: spin 10s linear infinite;
            animation: spin 10s linear infinite;

            @include mobilePortrait {
                background-size: calc(3.7rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (8.88 - 3.7)) calc(3.7rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (8.88 - 3.7));
                height: calc(3.7rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (8.88 - 3.7));
                width: calc(3.7rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (8.88 - 3.7));
                margin-left: calc(.6rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (1.44 - .6));
            }

            @include mobileLandscape {
                //20.85, 20.85 m
                //3.38 m
                //81.3
                //13.18
                /*                background-size: 5.65vh 5.65vh;
                width: 5.65vh;
                height: 5.65vh;
                margin-left: .915vh; */
                /*                 top: 0;
                top: 50%;
                transform: translateY(-50%); */

                //@include background-sizeLandscape(universal, 2.085, 8.13);
                //@include width-heightLandscape(universal, 2.085, 8.13);
                //@include margin-leftLandscape(universal, .338, 1.318);
                @include background-sizeLandscape(mobile, 2.085, 5.005);
                @include width-heightLandscape(mobile, 2.085, 5.005);
                @include margin-leftLandscape(mobile, .338, .812);
                background-size: 6.758vh;
                width: 6.758vh;
                height: 6.758vh;
                /*                 background-size: 3.179vw;
                width: 3.179vw;
                height: 3.179vw; */
            }

            @include desktopLandscape {
                @include background-sizeLandscape(desktop, 5.005, 4.882);
                @include width-heightLandscape(desktop, 5.005, 4.882);
                @include margin-leftLandscape(desktop, .812, .792);
                background-size: 6.758vh;
                width: 6.758vh;
                height: 6.758vh;
                /*                 background-size: 3.179vw;
                width: 3.179vw;
                height: 3.179vw; */
            }

            @include desktopMediumLandscape {
                @include background-sizeLandscape(desktopMedium, 4.882, 8.13);
                @include width-heightLandscape(desktopMedium, 4.882, 8.13);
                @include margin-leftLandscape(desktopMedium, .792, 1.318);
                background-size: 6.758vh;
                width: 6.758vh;
                height: 6.758vh;
                /*                 background-size: 3.179vw;
                width: 3.179vw;
                height: 3.179vw; */
            }
        }
    }

    &__secondTitle {
        font-family: $fontAbril;
        text-transform: uppercase;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 65px;
        /* identical to box height */
        text-align: center;

        @include mobilePortrait {
            font-size: calc(4.8rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (11.52 - 4.8));
            line-height: calc(6.5rem + (((100vw - #{$bp-small-portraitWidth/1em*1.6rem}) / (#{$bp-large-portraitWidth/1em * 1.6} - #{$bp-small-portraitWidth/1em * 1.6}))) * (15.54 - 6.5));
            //font-size: 8.431vh;
        }

        @include mobileLandscape {
            //font-size: 7.324vh;
            //line-height: 9.88vh;
            //@include fontLineLandscape(2.705, 10.547, 3.649, 14.228);
            @include fontLineLandscape(mobile, 2.705, 6.493, 3.649, 8.759);
            font-size: 8.767vh;
            line-height: 11.826vh;
            /*             font-size: 4.123vw;
            line-height: 5.562vw; */
        }

        @include desktopLandscape {
            @include fontLineLandscape(desktop, 6.493, 6.333, 8.759, 8.543);
            font-size: 8.767vh;
            line-height: 11.826vh;
            /*             font-size: 4.123vw;
            line-height: 5.562vw; */
        }

        @include desktopMediumLandscape {
            @include fontLineLandscape(desktopMedium, 6.333, 10.547, 8.543, 14.228);
            font-size: 8.767vh;
            line-height: 11.826vh;
            /*           font-size: 4.123vw;
            line-height: 5.562vw; */
        }
    }
}

/* ================================
                HERO END
===================================*/


/*=====================
        KEYFRAMES
=======================*/
@-moz-keyframes spin {
    100% {
        -moz-transform: translateY(-100%) rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: translateY(-100%) rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: translateY(-100%) rotate(360deg);
        transform: translateY(-100%) rotate(360deg);
    }
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateY(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateY(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}