@import './App.scss';

.historyBanner {
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.67%, rgba(255, 231, 231, 0) 46.68%, #F4F2F3 100%), url("../images/historyBannerBackground.png");
    background-size: cover;
    height: 31.52vh;

    @include mobileLandscape {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.67%, rgba(255, 231, 231, 0) 46.68%, #F4F2F3 100%), url("../images/historyBannerBackgroundLandscape.png");
        height: 24.391vw;
        background-size: cover;
    }

    &__sectionTitle {
        @include sectionBanner(33.614vh, 8.938vh, .388vh, 4.176vh, 5.634vh, historia);

        @include mobileLandscape {
            @include sectionBanner(22.5vw, 5.98vw, .2601vw, 2.7952vw, 3.809vw, historia);
        }


    }
}