@import './App.scss';

.historyBanner {
    position: relative;
    width: 100%;
    @include gradientBackgroundHistoryBanner("../images/historyBannerBackground.png");
    background-size: cover;
    height: 31.52vh;

    @include mobileLandscape {
        @include gradientBackgroundHistoryBanner("../images/historyBannerBackgroundLandscape.png");
        height: 24.391vw;
        background-size: cover;
    }

    &__sectionTitle {
        @include sectionBanner(33.614vh, 8.938vh, .388vh, 4.176vh, 5.634vh, historia, yes);

        @include mobileLandscape {
            @include sectionBanner(22.5vw, 5.98vw, .2601vw, 2.7952vw, 3.809vw, historia, yes);
        }


    }
}

/* ====================================================WEBP IMG SUPPORT =========================================================*/
.webp .historyBanner {
    position: relative;
    width: 100%;
    @include gradientBackgroundHistoryBanner("../images/historyBannerBackground.webp");
    background-size: cover;
    height: 31.52vh;

    @include mobileLandscape {
        @include gradientBackgroundHistoryBanner("../images/historyBannerBackgroundLandscape.webp");
        height: 24.391vw;
        background-size: cover;
    }
}

/* =========================================================================================================================*/