/* =====================
        BREAK POINTS
========================*/

/* PORTRAIT WIDTH */
$bp-small-portraitWidth: 20em; //320px
$bp-medium-portraitWidth: 48em; //768px
$bp-large-portraitWidth: 64em; //1024px


/* LANDSCAPE WIDTH */
$bp-smaller-landscapeWidth: 35.5em; //568px
$bp-small-landscapeWidth: 64em; //1024px
$bp-medium-landscapeWidth: 96em; //1536px
$bp-large-landscapeWidth: 160em; //2560px