@import './App.scss';

.scrollTopButton {
    display: grid;
    place-items: center;
    position: fixed;
    width: 5.46vh;
    height: 5.46vh;
    right: 1vh;
    bottom: 2vh;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: none;
    background: $orange;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    &:active {
        transform: scale(.9);
    }

    @include mobileLandscape {
        width: 3vw;
        height: 3vw;
        right: 1vw;
        bottom: 1vw;
    }

    &:before {
        content: '';
        background: url('../svg/arrow.svg') no-repeat;
        background-size: 3.3vh 3.3vh;
        width: 3.3vh;
        height: 3.3vh;
        transform: rotate(90deg);

        @include mobileLandscape {
            background-size: 1.8vw 1.8vw;
            width: 1.8vw;
            height: 1.8vw;
        }
    }
}


.showButton {
    animation: showButton 1s forwards;
}

@keyframes showButton {
    100% {
        opacity: 1;
        visibility: visible;
    }
}