@import './App.scss';

.worthOfSeeingBanner {
    position: relative;
    width: 100%;
    @include gradientBackgroundWorthOfSeeingBannerPortrait("../images/worthOfSeeingBannerBackground.webp");
    background-size: cover;
    height: 31.52vh;

    @include mobileLandscape {
        @include gradientBackgroundWorthOfSeeingBanner("../images/worthOfSeeingBannerBackgroundLandscape.webp");
        height: 35.26vw;
        background-size: cover;
    }

    &__sectionTitle {
        //50.7261vh
        @include sectionBanner(45.7261vh, 8.938vh, .388vh, 4.176vh, 5.634vh, Warto Zobaczyć, yes);

        @include mobileLandscape {
            @include sectionBanner(33.99vw, 5.98vw, .2601vw, 2.7952vw, 3.809vw, Warto Zobaczyć, yes);
        }
    }
}

/* ====================================================PNG IMG SUPPORT =========================================================*/
.no-webp .worthOfSeeingBanner {
    position: relative;
    width: 100%;
    @include gradientBackgroundWorthOfSeeingBannerPortrait("../images/worthOfSeeingBannerBackground.png");
    background-size: cover;
    height: 31.52vh;

    @include mobileLandscape {
        @include gradientBackgroundWorthOfSeeingBanner("../images/worthOfSeeingBannerBackgroundLandscape.png");
        height: 35.26vw;
        background-size: cover;
    }
}

/* =========================================================================================================================*/