@import './App.scss';

.worthOfSeeing {
    //background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(7, 30, 28, 0.94) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/worthOfSeeingBackground.png");
    background: url("../images/worthOfSeeingBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    //height: 568px;
    height: 100vh;
    position: relative;
    //background-color: #060707;
    //margin-top: -1%;
    margin-top: -.3vh;

    @include mobileLandscape {
        height: 713.8358154296875px;
        height: 46.474vw;
        background: url("../images/worthOfSeeingBackgroundLandscape.png");
        background-size: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        @include absoluteCenter();
    }
}

.placeToChoose {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    //margin: 0 2.6409vh;

    //margin-bottom: 5.2817vh;
    margin-bottom: 2.4648vh;

    @include mobileLandscape {
        margin-bottom: .6875vw;
    }

    &__arrow {
        /*  width: 21px;
        height: 10.5px; */
        width: 14px;
        height: 23px;

        width: 2.4648vh;
        height: 4.05vh;

        @include mobileLandscape {
            /*   width: 2vw;
            height: 2vw; */
            width: 1vw;
            height: 1.6vw;
        }

        &--left {
            &:active {
                transform: scale(1.1);
            }
        }

        &--right {
            transform: rotate(-180deg);

            &:active {
                transform: rotate(-180deg) scale(1.1);
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.imagesOfPlacesContainer {
    width: 42.254vh;
    height: 64.965vh;
    margin: 0 2.6409vh;

    @include mobileLandscape {
        @include flex-center();
        width: 614.46px;
        height: 401.71px;
        margin: 0 19.44px;

        width: 40.004vw;
        height: 26.153vw;
        margin: 0 1.26563vw;
    }

}

.imageOfPlaceContainer {
    position: relative;
    /*     width: 240px;
    height: 369px; */
    //height: auto;
    //margin: 0 15px;
    /*     width: 42.254vh;
    height: 64.965vh; */
    /*     width: 42.254vh;
    height: 64.965vh;
    margin: 0 2.6409vh; */
    width: inherit;
    height: inherit;

    &--middle {
        @include mobileLandscape {
            width: 261.28px;
            height: 401.71px;

            width: 17.0101vw;
            height: 26.153vw;
            z-index: 100;
        }
    }

    &--left {
        display: none;

        @include mobileLandscape {
            display: initial;
            position: absolute;
            width: 206.42px;
            height: 317.37px;
            //left: 57px;
            //left: 29.68px;
            left: 36px;

            width: 13.4392vw;
            height: 20.666vw;
            left: 2.34375vw;
        }
    }

    &--right {
        display: none;

        @include mobileLandscape {
            display: initial;
            position: absolute;
            width: 206.42px;
            height: 317.37px;
            //right: 57px;
            right: 36px;


            width: 13.4392vw;
            height: 20.666vw;
            right: 2.34375vw;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        //margin-bottom: 14px;

        //margin-bottom: 2.4648vh;
    }

    &__placeTitle {
        @include absoluteCenter();
        color: white;
        font-family: $fontAbril;
        font-weight: 400;
        font-size: 32px;
        line-height: 43.17px;
        text-transform: uppercase;

        font-size: 5.6338vh;
        line-height: 7.6vh;

        @include mobileLandscape {
            //34.84px font
            //47px line
            font-size: 2.26823vw;
            line-height: 3.0599vw;
        }
    }

    /*     &__counter {
        color: white;
        font-family: $fontAbril;
        font-weight: 400;
        font-size: 10px;
        line-height: 13.49px;
        display: inline-block;
        position: relative;
        left: 100%;
        transform: translateX(-100%);
    } */
}

.moveDownToNextSection {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    //margin-top: 30px;
    //width: 2.1rem;
    //height: 1.6rem;

    margin-top: 5.2817vh;
    width: 3.698vh;
    height: 2.817vh;

    @include mobileLandscape {
        margin-top: 1.918vw;
        width: 1.489vw;
        height: 1.134vw;
    }

    &__triangle {
        width: 2.1rem;
        height: 1.6rem;

        width: 3.698vh;
        height: 2.817vh;

        @include mobileLandscape {
            width: 1.489vw;
            height: 1.134vw;
        }

        &--first {
            @include bounceAnimation(.2);
        }

        &--second {
            position: absolute;
            top: .5rem;
            top: .8803vh;
            @include bounceAnimation(0);

            @include mobileLandscape {
                top: .89vh;
            }
        }
    }

    //margin-top: 30px;

    /*     position: relative;
    left: 50%;
    width: 2.1rem;
    height: 1.6rem;
    transform: translateX(-50%); */

}

.placeToChooseCounter {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 240px;
    width: 42.254vh;
    color: white;
    font-family: $fontAbril;
    font-weight: 400;
    font-size: 10px;
    line-height: 13.49px;
    //margin-top: 14px;

    font-size: 1.7607vh;
    line-height: 2.375vh;
    //margin-top: 2.4648vh;

    @include mobileLandscape {
        //font 17.28
        //line 23.31
        width: 17.0101vw;
        font-size: 1.125vw;
        line-height: 1.51758vw;
    }
}

/* 

.middle {

    @include mobileLandscape {
        width: 261px;
        height: 401px;
        z-index: 100;
    }

}

.left {
    display: none;

    @include mobileLandscape {
        display: initial;
        position: absolute;
        width: 206.42px;
        height: 317.37px;
        left: 57px;
    }

}

.right {
    display: none;

    @include mobileLandscape {
        display: initial;
        position: absolute;
        width: 206.42px;
        height: 317.37px;
        right: 57px;
    }

} */