@import './App.scss';

.worthOfSeeing {
    background: url("../images/worthOfSeeingBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: -.3vh;

    @include mobileLandscape {
        height: 713.8358154296875px;
        height: 46.474vw;
        background: url("../images/worthOfSeeingBackgroundLandscape.png");
        background-size: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        @include absoluteCenter();
    }
}

/* ====================================================WEBP IMG SUPPORT =========================================================*/
.webp .worthOfSeeing {
    background: url("../images/worthOfSeeingBackground.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: -.3vh;

    @include mobileLandscape {
        height: 713.8358154296875px;
        height: 46.474vw;
        background: url("../images/worthOfSeeingBackgroundLandscape.webp");
        background-size: cover;
    }
}

/* =========================================================================================================================*/

.placeToChoose {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4648vh;

    @include mobileLandscape {
        margin-bottom: .6875vw;
    }

    &__buttonArrow {
        background: transparent;
        border: none;
        outline: none;
    }

    &__arrow {
        width: 2.4648vh;
        height: 4.05vh;

        @include mobileLandscape {
            width: 1vw;
            height: 1.6vw;
        }

        &--left {
            &:active {
                transform: scale(1.1);
            }
        }

        &--right {
            transform: rotate(-180deg);

            &:active {
                transform: rotate(-180deg) scale(1.1);
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.imagesOfPlacesContainer {
    width: 42.254vh;
    height: 64.965vh;
    margin: 0 2.6409vh;

    //mobilePortrait dla nietypowych rozdzielczości, żeby mieć pewność, że będzie dobrze wyglądało w przerożnych rozdzielczościach
    @include mobilePortrait {
        @include widthPortrait(24, 57.7);
    }

    @include mobileLandscape {
        @include flex-center();
        width: 40.004vw;
        height: 26.153vw;
        margin: 0 1.26563vw;
    }

}

.imageOfPlaceContainer {
    position: relative;
    width: inherit;
    height: inherit;

    &--middle {
        @include mobileLandscape {
            width: 17.0101vw;
            height: 26.153vw;
            z-index: 100;
        }
    }

    &--left,
    &--right {
        cursor: pointer;
        filter: blur(.2rem);
    }

    &--left {
        display: none;

        @include mobileLandscape {
            display: initial;
            position: absolute;
            width: 13.4392vw;
            height: 20.666vw;
            left: 2.34375vw;
        }
    }

    &--right {
        display: none;

        @include mobileLandscape {
            display: initial;
            position: absolute;
            width: 13.4392vw;
            height: 20.666vw;
            right: 2.34375vw;
        }
    }

    &__image {
        width: 100%;
        height: 100%;

        &--transition {
            @include animation(transitionImg .4s);
        }
    }

    &__placeTitle {
        @include absoluteCenter();
        color: white;
        font-family: $fontAbril;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 5.6338vh;
        line-height: 7.6vh;

        &--transition {
            @include animation(transitionImg .8s);
        }

        @include mobileLandscape {
            font-size: 2.26823vw;
            line-height: 3.0599vw;
        }
    }
}

.moveDownToNextSection {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5.2817vh;
    width: 3.698vh;
    height: 2.817vh;

    @include mobileLandscape {
        margin-top: 1.918vw;
        width: 1.489vw;
        height: 1.134vw;
    }

    &__triangle {
        width: 3.698vh;
        height: 2.817vh;

        @include mobileLandscape {
            width: 1.489vw;
            height: 1.134vw;
        }

        &--first {
            @include bounceAnimation(.2);
        }

        &--second {
            position: absolute;
            top: .8803vh;
            @include bounceAnimation(0);

            @include mobileLandscape {
                top: .89vh;
            }
        }
    }
}

.placeToChooseCounter {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 42.254vh;
    color: white;
    font-family: $fontAbril;
    font-weight: 400;
    font-size: 1.7607vh;
    line-height: 2.375vh;

    @include mobileLandscape {
        width: 17.0101vw;
        font-size: 1.125vw;
        line-height: 1.51758vw;
    }
}